In [1]:
#Import basic libraries
import pandas as pd
import numpy as np

In [5]:
#Access the avaiable full text DOIs
df_new = pd.read_csv(r'C:\Users\kumar\OneDrive - IIT Delhi\CPCB\PROF. HARI\doi_6000_withlink.csv')
print('Shape of data:',df_new.shape)
#Shows the five rows of data frame
df_new.head()

Shape of data: (5945, 5)

,URL,Title,Pub_Name,DOI,Link
0,https://api.elsevier.com/content/article/pii/S...,Homogeneous first-row transition metal catalys...,Tetrahedron,10.1016/j.tet.2021.132473,https://api.elsevier.com/content/article/doi/1...
1,https://api.elsevier.com/content/article/pii/S...,Selective photoelectrocatalytic tuning of benz...,Applied Catalysis B: Environmental,10.1016/j.apcatb.2020.119868,https://api.elsevier.com/content/article/doi/1...
2,https://api.elsevier.com/content/article/pii/S...,Light alcohols reforming towards renewable hyd...,Renewable and Sustainable Energy Reviews,10.1016/j.rser.2020.110523,https://api.elsevier.com/content/article/doi/1...
3,https://api.elsevier.com/content/article/pii/S...,Minimized Pt deposition on CdS simultaneously ...,Applied Surface Science,10.1016/j.apsusc.2021.150446,https://api.elsevier.com/content/article/doi/1...
4,https://api.elsevier.com/content/article/pii/S...,Boosting photocatalytic hydrogen production co...,Chemical Engineering Journal,10.1016/j.cej.2021.129870,https://api.elsevier.com/content/article/doi/1...

In [6]:
def file_of_exitance():
    #Actual index data of avaiable text
    actual_index = np.arange(0,df_new.shape[0],1).tolist()
    #Access the full text files
    special_cases = []  #Define the list of special cases
    for a in np.arange(0,df_new.shape[0],1):
        #Read the files of text
        df = pd.read_csv(r'C:\Users\kumar\OneDrive - IIT Delhi\CPCB\PROF. HARI\data\{}.csv'.format(a))
        if df.shape[0] == 0:
            special_cases.append(a)
            
    #Total number of files with full text availablity
    actual_range = [x for x in actual_index if x not in special_cases]
    #Final number of text files 
    print('Number of final text files:',len(actual_range))
    
    return actual_range

In [7]:
#Call the function
actual_range = file_of_exitance()

Number of final text files: 4852

In [10]:
def collect_section_name():
    #Collection of section name
    section_name = []
    for i in actual_range:
        #Read the files
        df = pd.read_csv(r'C:\Users\kumar\OneDrive - IIT Delhi\CPCB\PROF. HARI\data\{}.csv'.format(i))
        for j in range(df.shape[0]):
            if str(df.Text[j]) == 'nan' :
                section_name.append(df.sections[j])
    #frequency count for unique enities
    unique, frequency = np.unique(np.array(section_name), return_counts = True)
    #Making the data frame
    df_unique_counts = pd.DataFrame({'section name' : unique, 'frequency' : frequency})
    df_unique_counts = df_unique_counts.sort_values(by='frequency',axis=0, ascending=False)
    return df_unique_counts.reset_index(drop = True)

In [11]:
#Call the function
df_unique_counts = collect_section_name()

#shows the first rows
df_unique_counts.head()

             section name  frequency
0  Results and discussion       2828
1            Experimental       1521
2   Materials and methods       1011
3    Experimental section        510
4                 Results        312

In [12]:
#shows the first 5 rows
df_unique_counts.head()

             section name  frequency
0  Results and discussion       2828
1            Experimental       1521
2   Materials and methods       1011
3    Experimental section        510
4                 Results        312

In [13]:
#Utilization of section name 
result_section = ['Results and discussion','Results','Results and discussions','Discussion', 'Result and discussion',
           'Results and Discussion','Results & discussion', 'Results and Discussions', 'Result and discussions',
          'Result and Discussion', 'Results and analysis', 'Experimental results and discussion', 'Discussions',
          'Discussion of the results', 'Results anddiscussion','Results and discussion' ]

In [18]:
def exp_text():
    #Only extracting the experimental parts from entire text article
    final_text = []
    count = []
    for i in actual_range:
        df = pd.read_csv(r'C:\Users\kumar\OneDrive - IIT Delhi\CPCB\PROF. HARI\data\{}.csv'.format(i))
        df.drop(index=df.index[0], axis=0, inplace=True)
        df.dropna()
        df = df.reset_index(drop=True)
        for w in np.arange(1,df.shape[0],1):
            for name_section in result_section:
                if df['sections'][w] == name_section :
                    final = df.iloc[:w , :]
                    for r in np.arange(1,final.shape[0],1):
                        #Access the experiment text
                        str1 = str(final['Text'][r])
                        #Access the section name
                        str2=str(final['sections'][r])
                        #Replace section text from exp text
                        str3= str1.replace(str2,"")
                        strf = str3[4:]
                        final_text.append(strf)
                        count.append(i)
        #Store the data frame
        df_text = pd.DataFrame()
        df_text['exp_text'] = final_text

    return df_text, count

In [19]:
#Call the function 
df_text_final, count = exp_text()

In [22]:
#save the data in csv
df_text_final.to_csv(r'C:\Users\kumar\OneDrive - IIT Delhi\CPCB\PROF. HARI\data_final\Raw_text_full_6000\final_text.csv')

In [23]:
#Total number of articles utilized
print('Number of articles extracted:',len(np.unique(count)))

Number of articles extracted: 4004

In [21]:
# concatenating df1 and df2 along rows
df_final1 = df_text_final.drop_duplicates(subset = ['exp_text'], keep = 'first').reset_index(drop = True)
df_final1.shape[0]

17855